<html>
<head>
    <title>How much home</title>
    <!-- Background Image --!>
    <%= stylesheet_link_tag "homepage.scss"%>
</head>
<body>

  <div class="logo_half">
    <img src="../assets/logo_half.png" alt="harl logo image">
  </div>

  <div class="jumbotron">
    <p id="icon-x"><a href="/howmuch/init"><span class="glyphicon glyphicon-remove-circle"></span></a></p>
    <div class="container">
      <p id="baloon">'얼마면 돼?'가 궁금해?</p>
      <p id="baloon">'얼마면 돼?'는 <b>정해진 예산에서 즐길 수 있는
최대의 즐거움</b>을 찾 는 걸 도와주는 서비스야.</br>
사용법은 다음과 같아.</p>

    <iframe class="info_tab" src="/howmuch/info">
    </iframe>
    </div>
  </div>

<!--Bootstrap CDN--!>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>