<html>
<head>
    <title>How much Information</title>
    <!-- Backgroun Image --!>
    <%= stylesheet_link_tag "info_step.scss"%>
</head>
<body>
    <div class="info_step">
      <img src="../assets/step1.png" alt="step1_info">
      <img src="../assets/step2.png" alt="step2_info">
      <img src="../assets/step3.png" alt="step3_info">
    </div>


<!--Bootstrap CDN--!>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>