<html>
<head>
    <title>How much</title>
    <!-- Latest compiled and minified CSS -->
<!--Bootstrap  CSS--!>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= stylesheet_link_tag "set.scss"%>
      <link rel="stylesheet" type="text/css" href="css/jquery.dynameter.css">
      <script src="jquery-3.2.1.min.js"></script>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="set_cost">
    
        <input type="text" value="0" class="dial" data-angleOffset=90,
data-linecap=round>
            <script>
                $(function() {
                    $(".dial").knob({
                        'min':0,
                        'max':50000,
                        'step':500,
                        'angleOffset':30,
                        'angleArc':300,
                    });
                });
            </script>
        <a class="btn" href="/howmuch/option" role="button">click</a>
    </div>
    
    
<!--Bootstrap CDN--!>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.dynameter.js"></script>
</body>
</html>