 @import "bootstrap-sprockets";
 @import "bootstrap";
    html {
    height:100vh;
    }
    
    .logo img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width:16%;
    }
    
    .button_Info {
        background-color: white;
        position: fixed;
        right: 0;
        bottom: 0;
        color: black;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        margin-right:2em;
        margin-bottom:2em;
        border-radius:5px;
        font-size:20px;
        padding: 0 15px 0 15px;
        font-weight:bold;
    }